<h1>Eat Da Burger</h1>

<h2>Burgers</h2>

<div class="burg">
<ul>
{{#each burgers}}
    {{#unless devoured}}
        {{burger_name}}
    {{/unless}}
    <button class="devour">Devour</button>
{{/each}}
</ul>
</div>

<form action="#">
    <h2>Add A Burger</h2>
    <input type="text" name="addBurger">
    <input type="submit" name="burgerSubmit">
</form>